<template name="home">

  <main>

        <br /><br /><br /><br />

    <div class="container">
      <div class="row flex" style="width: 100%;">

        <div class="image1"></div>
        <div class="image2"></div>

      </div>
    </div>

    <br /><br /><br /><br />

<div class="container">
  <div class="row flex" style="width: 100%;">

    <div class="image2"></div>
    <div class="image1"></div>

  </div>
</div>


<br /><br /><br /><br />

<div class="container">
<div class="row flex" style="width: 100%;">

<div class="image1"></div>
<div class="image2"></div>

</div>
</div>


<br /><br /><br /><br />

<div class="container">
<div class="row flex" style="width: 100%;">

<div class="image2"></div>
<div class="image1"></div>


</div>
</div>


  </main>

  <footer>
    <form class="footer-form">
      <div class="bottom-form flex">
        <div class="bottom-form-flex-item text-input flex">
          <textarea class="form-textarea u-full-width" placeholder="Hi Dave …" id="exampleMessage"></textarea>
        </div>
        <div class="bottom-form-flex-item buttons flex">
          <input class="button-primary" style="margin-bottom: 5px" type="submit" value="Submit">
          <a class="button button-primary" href="#">Donate</a>
        </div>
      </div>
    </form>
  </footer>

</template>
