<template name="home">

  <main>

    <div class="container">
      <div class="row flex secrets-row" style="width: 100%;">

        {{#each secrets}}
          <div class="image1">{{text}}</div>
        {{/each}}


      </div>
    </div>

  </main>

  <footer>
    <form class="footer-form">
      <div class="bottom-form flex">
        <div class="bottom-form-flex-item text-input flex">
          <textarea class="form-textarea u-full-width" placeholder="Hi Dave …" id="text" name="text"></textarea>
        </div>
        <div class="bottom-form-flex-item buttons flex">
          <input class="button-primary" style="margin-bottom: 5px" type="submit" value="Submit">
          <a class="button button-primary" href="#">Donate</a>
        </div>
      </div>
    </form>
  </footer>

</template>
