<template name="home">


  <main>

    <div class="container" id="container">
      <div class="row flex photos-row" style="margin: auto;">

        <div class="six columns flex-item">
          <img class="secret-image" src="/photos/1.jpg" />
          <img class="secret-image" src="/photos/2.jpg" />
          <img class="secret-image" src="/photos/3.jpg" />
        </div>

        <div class="six columns flex-item">
          <img class="secret-image" src="/photos/4.jpg" />
          <img class="secret-image" src="/photos/5.jpg" />
          <img class="secret-image" src="/photos/6.jpg" />
        </div>
      </div>

    </div>

  </main>

  <footer>
    <form class="footer-form">
      <div class="bottom-form flex">
        <div class="bottom-form-flex-item text-input flex">
          <textarea class="form-textarea u-full-width" placeholder="Share your story..." id="text" name="text"></textarea>
        </div>
        <div class="bottom-form-flex-item buttons flex">
          <a class="link button button-secondary" href="#" style="margin-bottom: 5px">Post</a>
          <a class="link button button-primary" href="#">Donate</a>
        </div>
      </div>
    </form>
  </footer>

  <div id="ex1" style="display:none; width:80%">
    <h3>Donate</h3>
    <p>Thanks for clicking.  That felt good.  <a href="#" rel="modal:close">Close</a> or press ESC</p>
    <p>
      <a class="button">button1</a>
      <a class="button">button2</a>
      <a class="button">button3</a>
    </p>
  </div>


</template>
