html, body {
  height: 100%;
  width: 100%;
  background-color: #212121;
}

header {
  height: 50px;
}

main {
  margin-bottom: 100px;
}

.row {
  margin-top: 100px;
  margin-bottom: 100px;
}

.photos-row .flex-item{
  // flex: 0 1 50%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.photos-row .columns {
  flex-flow: column nowrap;
  align-content: flex-start;
  align-self: flex-start;
  align-items: flex-start;
}

.secret-image {
  width: 400px;
  margin-bottom: 75px;
}

.top-offset {
  height: 20vh;
}



textarea.form-textarea{
  height:81px;
}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:120px;
  width:100%;
  background: transparent;
}

.footer-form {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.bottom-form {
    padding: 10px;
    flex-flow: row nowrap;
    width: 100%;
    align-items: center;
    background-color: #D2D2D2;
    border-radius: 0px;
    margin: 0 auto;
    border: 1px solid #a5a5a5;
}

.bottom-form-flex-item.text-input {
  width: 80%;
}

.bottom-form-flex-item.buttons{
  display: flex;
  flex-flow: column nowrap;
  width: 20%;
}

.form-textarea {
  height: 100px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-right: 20px;
  background-image: url('/linepaper.jpg');
  background-position: 0px -100px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  font-size: 22px;
  line-height: 1.15;
  transition: ease-in-out 0.5s;
}


.form-textarea:focus {
  background-image: url('/linepaper-light.jpg');
  // transition: ease-in-out 0.5s;
}

::-webkit-input-placeholder {
   color: #000;
   padding-left: 40px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000;
   padding-left: 40px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000;
   padding-left: 40px;
}

:-ms-input-placeholder {
   color: #000;
   padding-left: 40px;
}


.link {
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 150px;
  font-size: 24px;
  letter-spacing: 2px;
}

a.link {
  color: #fff;
  font-family: 'Droid Sans', sans-serif;
  text-decoration: none;
  font-weight: 200;
}

a.button-secondary {
  background-color: #A5A5A5;
  font-size:14px;
    background: -webkit-linear-gradient(red, blue);
    background: -o-linear-gradient(red, blue);
    background: -moz-linear-gradient(red, blue);
    background: linear-gradient(#c0c0c0, #a5a5a5);
    border: 1px solid #6d6d6d;
}

.button {
  height: 34px;
}

.button.button-primary {
  background-color: #BBCC90;
  border-color: #BBCC90;
  font-size:14px;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #909E7D;
    border-color: #909E7D;
}
